.active-header{
    border-bottom: 2px solid #000;
    animation: ease-in;
}

.logo{
    padding-left: 3em;
}

.socialMedia{
    padding-right: 3em;
}

.header-menu:hover{
    border-bottom: 2px solid #000;
}